{% extends 'generator/layout.html' %}
{% block content %}

<h1>Django Password Generator Project: A Journey to Learning Django</h1>
<p>The Django Password Generator project was an exciting endeavor undertaken to enhance my skills in Django, a powerful Python web framework. This project aimed to develop a user-friendly application capable of generating strong and secure passwords for various purposes. Through this project, I deepened my understanding of Django's core concepts and learned to implement them effectively.</p>
{% endblock %}
